<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8' />
<title>404 Not Found</title>
</head>
<body>
    <div id="container">
        <h1>Oops... Page Not Found!</h1>
        <div id="content">
            <div>
                <h2>It looks like this could be the result of either:</h2>
                <ul>
                    <li>a mistyped address</li>
                    <li>an out-of-date link</li>
                    <li>a hungry pacman</li>
                </ul>
                <p>You can try again by searching our site</p>
                <input type="text" placeholder="Search our site"><input type="button" class="search" value="Search">
            </div>
            <div>
                <h3>Don't worry, we still have some other pages that do exist. Try and visit one of them.</h3>
                <ul class="links">
                    <li><a href="">Top</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
